APP_NAME=Alabalak
APP_ENV=local
APP_KEY=base64:1To9Z4E42aJq86BopeleAIzqPNngbfzJ6xhX39lH7Tw=
APP_DEBUG=true
APP_URL=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
 DB_HOST=127.0.0.1
 DB_PORT=3306
 DB_DATABASE=ecommerce
 DB_USERNAME=root
 DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
#MAIL_SCHEME=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tariab573@gmail.com
MAIL_PASSWORD=guqelhbihdlpzmgj
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=tariab573@gmail.com
MAIL_FROM_NAME=${APP_NAME}

STRIPE_KEY=pk_test_51RxYAw6SaOYrnC3qesshGtCcMy7O7OHEi6r7Wp86x69G5UfH0EJwAxbtV3lWJKiwB0YXPHrsQ0Jr2WaOL7UZcSx800IuxiLbkG
STRIPE_SECRET=sk_test_51RxYAw6SaOYrnC3qDc90F2BLMWOajjjDOS9AzAXrHae7jqD7qnheXs5ecB0Uz7E1pG76FiKZdMspyee8g6lLc0u500WGcpEMgO
CASHIER_LOGGER=stack

PAYPAL_MODE=sandbox
PAYPAL_SANDBOX_CLIENT_ID=AQ3hie1sEqUGL37d4ieQ05nwSwtqiWKBHMhpND7zCg2zOMeKFK_z7KOyXK_4tdATHKbtLivKSItooITV
PAYPAL_SANDBOX_CLIENT_SECRET=ELZt6I7IVw3RTAV0dgDtcoI1RtF-ET3_Xc0-EkWy868rMnfqpCGn5RKPMbe05w_19eOVvFRY8ETCH4sI
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=

NOWPAYMENT_KEY=2G0QMRR-EN84Y0H-GPZRXNV-HS7VFSZ
NOWPAYMENT_PUBLIC_KEY=a8113858-7619-4e5d-a8c0-f947abb8fed7
NOWPAYMENT_IPN_KEY=vauqoX/xwpIZWJgyYRkQWNQ/IH0ipgOU

NOWPAYMENT_SANDBOX_KEY=Y5BGFZB-0CBMG7N-Q2HJTCV-NP6HP4Y
NOWPAYMENT_SANDBOX_PUBLIC_KEY=b2e72ff4-fdef-4f22-a73b-e7fd6b3013b1
NOWPAYMENT_SANDBOX_IPN_KEY=HajjBPZ2ps8a7/P078M0lgT3hhqfdGmr
NOWPAYMENT_SANDBOX_EMAIL=tardib777@gmail.com
NOWPAYMENT_SANDBOX_PASSWORD=Ta@123123

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
